.container {
  display: flex;
  flex-direction: column;
  padding-inline-end: 100px;
  margin-bottom: 20px;
}

@media (max-width: 730px) {
  .container {
    padding-inline-end: 0px;
  }
}
